.st_1 {
    color: white;
    background-color: gray;
}

.st_2 {
    color: blue;
}

.btn-secondary {
    color:#fff;background-color:#6c757d;border-color:#6c757d}
    .btn-secondary:hover{color:#fff;background-color:#5c636a;border-color:#565e64}
    .btn-check:focus+.btn-secondary,
    .btn-secondary:focus{color:#fff;background-color:#5c636a;border-color:#565e64;box-shadow:0 0 0 .25rem rgba(130,138,145,.5)}
    .btn-check:active+
    .btn-secondary,.btn-check:checked+.btn-secondary,.btn-secondary.active,
    .btn-secondary:active,.show>.btn-secondary.dropdown-toggle{color:#fff;background-color:#565e64;border-color:#51585e}
    .btn-check:active+.btn-secondary:focus,.btn-check:checked+.btn-secondary:focus,.btn-secondary.active:focus,
    .btn-secondary:active:focus,.show>.btn-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(130,138,145,.5)}
    .btn-secondary.disabled,.btn-secondary:disabled{color:#fff;background-color:#6c757d;border-color:#6c757d}

